In [29]:
import pandas as pd
import numpy as np
from numpy.linalg import norm

In [30]:
docx1 = "sunshine state enjoy sunshine"
docx2= "brown fox jump high, brown fox run" 
docx3="sunshine state fox run fast"

In [31]:
BOW1 = docx1.split(" ")
BOW2 = docx2.split(" ")
BOW3=docx3.split(" ")

In [32]:
BOW1
['sunshine', 'state', 'enjoy', 'sunshine']

['sunshine', 'state', 'enjoy', 'sunshine']

In [33]:
wordSet = set(BOW1).union(set(BOW2)).union(set(BOW3))
wordSet

{'brown', 'enjoy', 'fast', 'fox', 'high,', 'jump', 'run', 'state', 'sunshine'}

In [34]:
wordDict1 = dict.fromkeys(wordSet, 0) 
wordDict2 = dict.fromkeys(wordSet, 0) 
wordDict3 = dict.fromkeys(wordSet, 0)

In [35]:
for word in BOW1:
    wordDictA[word]+=1
    
for word in BOW2:
    wordDict2[word]+=1
for word in BOW3:
    wordDict3[word]+=1

In [36]:
wordDict1

{'enjoy': 0,
 'fox': 0,
 'brown': 0,
 'jump': 0,
 'sunshine': 0,
 'state': 0,
 'fast': 0,
 'run': 0,
 'high,': 0}

In [37]:

wordDict2

{'enjoy': 0,
 'fox': 2,
 'brown': 2,
 'jump': 1,
 'sunshine': 0,
 'state': 0,
 'fast': 0,
 'run': 1,
 'high,': 1}

In [38]:
wordDict3

{'enjoy': 0,
 'fox': 1,
 'brown': 0,
 'jump': 0,
 'sunshine': 1,
 'state': 1,
 'fast': 1,
 'run': 1,
 'high,': 0}

In [39]:
pd.DataFrame([wordDict1, wordDict2 ,wordDict3])

   enjoy  fox  brown  jump  sunshine  state  fast  run  high,
0      0    0      0     0         0      0     0    0      0
1      0    2      2     1         0      0     0    1      1
2      0    1      0     0         1      1     1    1      0

In [40]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict
tfBowA = computeTF(wordDict1, BOW1)
tfBowB = computeTF(wordDict2, BOW2)
tfBowC = computeTF(wordDict3, BOW3)

In [41]:
tfBowA

{'enjoy': 0.0,
 'fox': 0.0,
 'brown': 0.0,
 'jump': 0.0,
 'sunshine': 0.0,
 'state': 0.0,
 'fast': 0.0,
 'run': 0.0,
 'high,': 0.0}

In [42]:
tfBowB

{'enjoy': 0.0,
 'fox': 0.2857142857142857,
 'brown': 0.2857142857142857,
 'jump': 0.14285714285714285,
 'sunshine': 0.0,
 'state': 0.0,
 'fast': 0.0,
 'run': 0.14285714285714285,
 'high,': 0.14285714285714285}

In [17]:
tfBowC

{'enjoy': 0.0,
 'fox': 0.2,
 'brown': 0.0,
 'jump': 0.0,
 'sunshine': 0.2,
 'state': 0.2,
 'fast': 0.2,
 'run': 0.2,
 'high,': 0.0}

In [43]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [19]:
idfs = computeIDF([wordDict1, wordDict2 , wordDict3])

In [20]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf
    
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)
tfidfBowC = computeTFIDF(tfBowC, idfs)

In [21]:
pd.DataFrame([tfidfBowA, tfidfBowB , tfidfBowC])

,enjoy,fox,brown,jump,sunshine,state,fast,run,"high,"
0,0.11928,0.000000,0.00000,0.00000,0.088046,0.044023,0.000000,0.000000,0.00000
1,0.00000,0.050312,0.13632,0.06816,0.000000,0.000000,0.000000,0.025156,0.06816
2,0.00000,0.035218,0.00000,0.00000,0.035218,0.035218,0.095424,0.035218,0.00000

In [44]:

S1 = np.array([2,1,1,0,0,0,0,0,0])
S3 = np.array([1,1,0,0,1,0,0,1,1])
print("S1:", S1)
print("S3:", S3)

S1: [2 1 1 0 0 0 0 0 0]
S3: [1 1 0 0 1 0 0 1 1]

In [28]:

cosine = np.dot(S1,S3)/(norm(S1)*norm(S3))
print("Cosine Similarity between S1 and S3 :", cosine)

Cosine Similarity between S1 and S3 : 0.5477225575051661